@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-sub-fg: var(--sub-fg);
  --color-inverse-bg: var(--inverse-bg);
  --color-inverse-fg: var(--inverse-fg);
  --color-panel-mask: var(--panel-mask);
  --color-accent: var(--accent);

  --spacing-popup-w: var(--popup-w);
  --spacing-popup-gap: var(--popup-gap);
  --radius-popup-radius: var(--popup-radius);
  --color-popup-bg: var(--popup-bg);
  --color-popup-border: var(--popup-border);
  --color-info: var(--info);
  --color-warn: var(--warn);
  --color-error: var(--error);
}

*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--inverse-bg);
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}

 
body {
  user-select: none;
  app-region: drag;
}

.no-drag, a {
  app-region: no-drag;
}
